<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, viewport-fit=cover"
        />
        <meta
            name="description"
            content="RunTrackr helps you log and track your running progress, distance, and time. Stay motivated and monitor your performance."
        />

        <title>Track Your Runs - RunTrackr</title>
        <link rel="stylesheet" href="/static/css/global.css" />
        <link rel="stylesheet" href="/static/css/button.css" />
        <link rel="stylesheet" href="/static/css/button-group.css" />

        <!-- <script src="/static/js/htmx-1.8.0.js"></script> -->
        <!-- <script src="/static/js/_hyperscript-0.9.7.js"></script> -->
        <!-- <script src="/static/js/rsjs-menu.js" type="module"></script> -->
        <!-- <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script> -->
    </head>
    <body xhx-boost="true">
        <header>
            <h1>RunTrackr</h1>
            <h2>Track your runs!</h2>
        </header>
        <main>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %} {% block content %}{% endblock %}
        </main>
        <footer>
            <p>nirusu 2024</p>
        </footer>
    </body>
</html>
